.listHeaderBot {
    background-color: red;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: start;
    position: relative;
}
.navbar-icon {
    color:#fff;
}
.item-center {
    align-items: center;
    display: flex;
}

.listHeaderBot .logo-sendo{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    font-style: italic;
}
.logo-sendo {
    cursor: pointer;
}
#qr-code {
    font-size: 36px;
    height: 80%;
    margin: 8px 16px;
}
#qr-code:hover {
    cursor: pointer;
}
.search-input input {
    flex: 1;
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
    width: 300px;
}
.back-space {
    display: none;
}

.search-input {
    position: relative;
    display: flex;
    flex: 1;
}
.search-input .navbar-icon {
    cursor: pointer;
}
.search-icon {
    font-size: 24px;
    margin-left: 6px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    border: 1px;
    padding: 6px 8px;
    height: 100%;
}
.cart-icon {
    font-size: 30px;
    margin: 0.2rem 1rem 0 0.5rem;
}
.cart-icon:hover {
    cursor: pointer;
}
.login-btn button {
    font-size: 14px;
    padding: 8px 16px;
    font-weight: 700;
    color: #000;
    border: none;
    border-radius: 5px;
    height: 80%;
}
.login-btn :hover {
    cursor: pointer;

}

/* Tablet */
@media screen and (min-width:740px) and (max-width:1023px) {
    .search-icon {
        margin-left: 1px;
    }
    .back-space {
        display: flex;
        font-size: 24px;
        color: #000;
        background-color: #fff;
        border-radius: 5px;
        border: 1px;
        padding: 6px 8px;
        margin-right: 4px;
    }
    .listHeaderBot {
        width: 95%;
        padding-top: 4px;
        height: 46px;
    }
    .search-input input {
        width:100%;
        margin-right: 3px;
    }
    .logo-sendo,#qr-code {
        display: none;
    }
    .cart-shop {
        display: flex;
        display: none;
    }
    .login-btn {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width:739px) {
    .search-icon {
        margin-left: 1px;
    }
    .back-space {
        display: flex;
        font-size: 24px;
        color: #000;
        background-color: #fff;
        border-radius: 5px;
        border: 1px;
        padding: 6px 8px;
        margin-right: 4px;
    }
    .listHeaderBot {
        width: 95%;
        padding-top: 4px;
        height: 46px;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .search-input input {
        width:100%;
        margin-right: 3px;
    }
    .logo-sendo,#qr-code {
        display: none;
    }
    .cart-shop {
        display: flex;
        display: none;
    }
    .login-btn {
        display: none;
    }
}